<div class="container px-3">
<p>Te informamos que <b>SUUTIL</b> se encuentra adecuada a la normativa en vigor de protección de datos personales,
   Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos Personales y su reglamento de desarrollo
    a través del Real Decreto 1720/2007. Es por ello, que a través del presente enlace se pretende dotar de
     transparencia a las medidas que en materia de protección de la información personal efectúa de aquellas personas
     y usuarios que pudieren ser tratados por parte de aquella, cumpliendo íntegramente la normativa española de protección
      de datos de carácter personal y disponiendo de las medidas de seguridad acordes en el tratamiento de la información
      -recopilación de información, acceso, conexiones, calidad, secreto, confidencialidad- habida cuenta del estado de la tecnología,
      la naturaleza de los datos almacenados y los riesgos a que están expuestos, ya provengan de la acción humana o del medio físico o natural.
</p>
  <p>Con carácter general, <b>SUUTIL</b> es el responsable del tratamiento de datos personales que pudieren recabarse
    durante la navegación. Todos aquellos medios a través de los cuales solicitamos sus datos de carácter personal
    serán tratados, única y exclusivamente, para la finalidad inserta y contenida en las distintas secciones, precisando
    de su consentimiento inequívoco para tratarlos. </p>

    <p><b>Finalidades para el tratamiento de datos personales
</b></p>

<p><b>SUUTIL</b> dispone para la recogida de datos personales de formularios a tal efecto, en virtud del servicio así como medios de comunicación electrónica para poder ponerse en contacto con nosotros. Por lo que cualquier dato de carácter personal que nos puedas facilitar pasará a formar parte de nuestro fichero SUUTIL Design Better responsabilidad de SUUTIL que se encuentra debidamente registrado ante el Registro General de Protección de Datos Personales.
</p>
<p>En virtud del presente y con la intención de dar cumplimiento al artículo 5 de la LOPD, te informamos, a través del presente texto legal, de las finalidades de tratamiento que se llevan a cabo mediante la recogida de información, aconsejándote que, respecto a todos aquellos enlaces que te re-dirijan a otros medios titularidad de otros prestadores no ubicados o reproducidos a través de nuestro dominio suutil.com o asociado a éste, atienda a la política de privacidad de aquellos, puesto que SUUTIL no se responsabiliza del tratamiento que pudieren efectuar los mismos.
</p>
<p>Los formularios o secciones a través de los cuales nos puedes facilitar de forma libre y voluntaria tus datos personales son los siguientes:
</p>
<ul>
  <li>Registro como DISEÑADOR DE ESPACIOS
</li>
<li>Registro como PROVEEDOR DE PRODUCTOS DE INTERIORISMO
</li>
<li>Contacto</li>
</ul>
<p><b>Otras consideraciones</b></p>
<p><b>SUUTIL</b> te informa que podrá utilizar tu dirección de correo electrónico para el envío de comunicaciones electrónicas en virtud del artículo 21 y 22 de la Ley 34/2002 de Servicios de la Sociedad la Información y Comercio Electrónico. Asimismo, se facilitan mecanismos, sencillos y gratuitos, para desistir del consentimiento otorgado para la finalidad del envío de comunicaciones electrónicas, cumpliendo íntegramente con la normativa europea y nacional sobre la materia referida.
</p>
<p>Te advertimos que Internet no es considerada como fuente accesible al público y como tal, no puede recabar datos de carácter personal de terceros, siendo en todo momento consciente de ello, y exonerándose a SUUTIL de cualesquiera reclamación que pudieren efectuar terceros afectados.
</p>

<p><b>Ejercicio de derechos</b></p>
<p>Para el ejercicio de tus derechos de acceso, rectificación, cancelación y oposición, deberás remitirnos un correo electrónico
  a hola@suutil.es bajo el asunto “LOPD”, comunicando el derecho que se desea ejercitar, así como el motivo y adjuntando copia
   escaneada del DNI o documento identificativo, así como la dirección a efectos de notificaciones.
</p>
<p><b>Cookies</b></p>
<p>Atendiendo a la obligación legal del artículo 21 y 22 de la LSSI, se ha incorporado un apartado propio denominado “Política de Cookies”
  donde te facilitamos toda la información en relación a las mismas, respecto a la recogida, finalidades y temporalidad, pudiendo acceder
  a dicha información a través del enlace permanente dispuesto en la Página Web.
</p>
<p><b>Duración y Modificación</b></p>
<p>Las presentes condiciones tienen la vigencia que dura su exposición. De este modo, te aconsejamos que, cada vez que los usuarios
  accedan a la Página Web, lean con detenimiento las mismas.
</p>
<p>SUUTIL se reserva el derecho de modificación unilateral de las presentes condiciones, en cualquier momento, en su totalidad o
  parcialmente. La modificación surtirá efectos desde su publicación en la Página Web, más concretamente, desde su inserción en el
  link “Política de Privacidad”. En caso de existir discrepancia entre lo establecido en las presentes condiciones y las condiciones
  particulares de los diferentes servicios, prevalecerá lo dispuesto en éstas últimas.
</p>

<p><b>Ley Aplicable y Jurisdicción</b></p>
<p>En el caso de que cualquier disposición o disposiciones contenidas en las presentes condiciones fueran
  consideradas nulas o inaplicables, en su totalidad o en parte, por cualquier Juzgado, Tribunal u órgano
  administrativo competente, dicha nulidad o inaplicación no afectará al resto de condiciones aplicables en
   virtud de los servicios disponibles. En caso de disputa o controversia relacionada con la aplicación o
   interpretación de las mismas, las partes se someterán a los Juzgados y Tribunales que resulten territorialmente
    competentes de conformidad con la legislación vigente.
</p>
<p>El no ejercicio o ejecución, por parte de las entidades afectas, respecto a
  cualquier derecho o disposición contenido en estas condiciones no constituirá una
  renuncia al mismo, salvo reconocimiento y acuerdo escrito por su parte.
</p>
<div class="d-flex flex-row justify-content-center mt-5"><p><b>© 2018. SUUTIL. TODOS LOS DERECHOS RESERVADOS</b></p></div>

</div>
