<div class=" px-0 px-md-5 mx-0 mx-md-5">
  <div class="container px-0 px-md-5">


    <p>De conformidad con el artículo 22 de la Ley de Servicios de la Sociedad de la Información y Comercio Electrónico, la presente Página Web recaba cookies de navegación -pequeños archivos que contienen una serie de caracteres que se envían a su explorador
        desde el servidor de un sitio web-, propias y de terceros, con la finalidad de recabar información de entrada o identificación de usuarios; reproducción y carga de formularios y/o plug-in de contenido; publicitarias; estadísticas; entre otras.</p>

    <p>La presente política tiene como finalidad informarle de las diferentes cookies que SUUTIL a través de la presente Página Web recaba, propias o de terceros, exentas o no del deber de informar y los diferentes medios a través de los cuales puede rechazar,
        permitir o bloquear aquellas. En cualquier caso, la entidad le informa que el rechazo, bloqueo o no permisibilidad de cookies puede afectar a una correcta navegación por los contenidos reproducidos en la Página Web.</p>

    <p>La información que SUUTIL recaba de cookies es de dos tipos:</p>

    <ul>

        <li>
            <p>
                Cookies estrictamente necesarias para prestar un servicio o contenido solicitado por el usuario registrado. Éstas tienen como finalidad recordar identificaciones de registros; preferencias de herramientas en la utilización de contenidos; inter-actuación
                con los contenidos; localización de acceso a los contenidos. Este tipo de cookies pueden tener una duración determinada: caducidad inminente; caducidad al finalizar sesión; caducidad temporal.
            </p>
        </li>

        <li>
            <p>
                Cookies estrictamente no necesarias para prestar servicios, como por ejemplo, publicidad de terceros; información de resultados; hábitos de navegación; mejora de rendimientos. Este tipo de cookies se caracterizan por obtener información con las siguientes
                finalidades: gestionar los espacios publicitarios; conocer los hábitos de navegación -publicidad comportamental-; analizar y medir resultados. Al igual que, las precedentes, éste tipo de cookies pueden tener una caducidad variable: inminente,
                diaria o un ámbito de tiempo mayor.
            </p>
        </li>
    </ul>


    <table class="table table-striped">
        <thead>
            <tr>
                <th>NOMBRE DE LA COOKIE</th>
                <th>CADUCIDAD</th>
                <th>FINALIDAD Y TIPO DE INFORMACIÓN QUE RECOGE</th>
                <th>FUNCIONALIDAD AFECTADA EN CASO DE DESACTIVACIÓN</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Suutil-jwt</td>
                <td>Sesión</td>
                <td>« JSON Web Token » Sirve para saber si el usuario esta autenticado y si es diseñador o proveedor</td>
                <td>Esta cookie es esencial para el correcto funcionamiento de la web.</td>
            </tr>
            <tr>
                <td>Suutil-refresh</td>
                <td>Persistente</td>
                <td>Usada para almacenar el identificador de una sesión</td>
                <td>Imprescindible para poder autenticarse en el portal.</td>
            </tr>
            <tr>
                <td>Suutil.AuthenticationService._logged</td>
                <td>Persistente</td>
                <td>Sirve para que el usuario pueda desloggearse de forma mas segura</td>
                <td>El logout es menos eficiente</td>
            </tr>
            <tr>
                <td>userId</td>
                <td>Persistente</td>
                <td> Sirve para identificar el usuario y que el servidor le mande las informaciones que le corresponde</td>
                <td>Esta cookies es esencial para el correcto funcionamiento de la web para los usuarios registrados.</td>
            </tr>


            <tr>
                <td>User</td>
                <td>Persistente</td>
                <td>Sirve para almacenar el nombre, la direccion de correo y el tipo de usuario</td>
                <td> Sirve para que el usuario este seguro que esta loggeado en su propia sesion. Muy importante en el caso que varios usuarios usan el mismo ordenador.
                </td>
            </tr>
            <tr>
                <td> cookie-agreed-es cookie-agreed-en
                </td>
                <td>Persistente</td>
                <td>Recoge la aceptación de las cookies por parte del usuario</td>
                <td> Si no se acepta, siempre se mostrará el mensaje de aceptación de cookies.
                </td>
            </tr>

        </tbody>
    </table>

    <p>Igualmente se utilizan cookies en relación al contenido que se pudiere compartir a través de las distintos medios sociales, a través de la compartición de botones al uso, siendo estos controlados, exclusivamente, por los proveedores de dichos medios
        sociales, por lo que no somos responsables del uso y tratamiento que de las mismas efectúan recomendando la lectura de las correspondientes cláusulas al respecto.</p>

    <p>Así mismo, la reproducción de contenidos que pudiere re-dirigirle a través de los enlaces insertados en distintos formatos en la Página Web o medios sociales pudieren contener cookies de los titulares de dichos contenidos re-direccionados no haciéndose
        responsable la entidad de la política e información suministrada ni del tratamiento que respecto a la utilización de dichas cookies efectúan terceros ajenos a la entidad.</p>


    <p>En caso que no consintiera el tratamiento de dicha información puede modificar la configuración de su explorador. A tal efecto, se inserta enlace para que disponga de más información sobre la configuración de navegadores o exploradores de Internet
        en relación a los ajustes de cookies.</p>
    <ul>
        <li>
            <a href="http://support.google.com/chrome/bin/answer.py?hl=es&answer=95647">
     Chrome
   </a>
        </li>

        <li>
            <a href="http://www.apple.com/es/privacy/use-of-cookies/">
     Safari
   </a>
        </li>

        <li>
            <a href="http://help.opera.com/Windows/10.60/es-ES/cookies.html">
   Opera
 </a>
        </li>

        <li>
            <a href="https://privacy.microsoft.com/es-ES/windows-10-microsoft-edge-and-privacy">
  Edge
</a>
        </li>

        <li>
            <a href="https://support.microsoft.com/es-es/help/17442/windows-internet-explorer-delete-manage-cookies#ie=ie-11">
  Explorer
</a>
        </li>

        <li>
            <a href="https://support.microsoft.com/es-es/help/17442/windows-internet-explorer-delete-manage-cookies#ie=ie-11">
  Firefox
</a>
        </li>

    </ul>

    <p>

        En relación a los dispositivos móviles, se incluye la siguiente información respecto a los ajustes o la documental acerca de la misma.</p>

    <ul>
        <li>Para Android: Menú > Más > Ajustes > Ajustes de privacidad.</li>
        <li><a href="http://www.windowsphone.com/es-es/how-to/wp7/web/changing-privacy-and-other-browser-settings">Para Safari (IOS)</a></li>
        <li>Para Blackberry: Home > Browser > Options > Privacy & Security: clear the Accept Cookies > Save</li>
        <li><a href="https://support.microsoft.com/es-es/help/10635/windows-phone-change-privacy-and-other-browser-settings">Para Windows Phone</a></li>
    </ul>
    <p>Para cualquier duda, aclaración y/o sugerencia al respecto de las cookies, rogamos se pongan en contacto a través de correo electrónico hola@suutil.com</p>

    <p>La información proporcionada puede sufrir modificaciones debidas a actualizaciones o cambios en la política de tratamiento de cookies. Así mismo, la Agencia Española de Protección de Datos pudiere dictar instrucciones y/o recomendaciones que hicieren
        variar la misma.</p>


    <p>®SUUTIL 2018. TODOS LOS DERECHOS RESERVADOS</p>
</div>
</div>
