<div class="static-layout contact">
<div class="d-flex flex-column align-items-center mt-1 mt-md-5 mx-0 mx-md-5 px-4 px-md-5">
<h2 class="text-align-center">DISEÑADORES DE ESPACIOS</h2>
<hr class="w-100">
<h3 class="mt-3 mt-md-0">INFORMACIÓN</h3>
<div class="main-image w-100 mt-2 " [style.background-image]="'url(assets/images/info-designer.png)'">
</div>
<div class="px-0 px-md-5 d-flex flex-column align-items-center">
<h2 class="mt-3 mt-md-5 mx-5 mb-5 text-align-center">LOS MEJORES PRODUCTOS PARA TUS PROYECTOS</h2>

<p class="text-align-center mx-1 m-md-4 px-0 px-md-0"><b>¿Eres interiorista, arquitecto, decorador…?</b>
 </p>

 <p class="text-align-center mx-1 m-md-4 px-0 px-md-0">Conoce los mejores proveedores de mobiliario, iluminación, textiles, accesorios y acabados decorativos.
Haz que tus proyectos ganen en calidad y variedad.</p>

 <p class="text-align-center mx-1 m-md-4 px-0 px-md-0"><b>Regístrate gratis </b>y accede a: </p>
<div class="info-list mt-3">
<p>1. Información detallada de cada proveedor, sus condiciones de venta para profesionales
y enlaces directos a su web y redes sociales.</p>
<p>2. Haz tu propia selección. Guarda y ten a mano tus tiendas favoritas.</p>
<p>3. Valora a los proveedores. Crea comunidad.</p>
</div>



<p class="mt-5"><b>Soy Diseñador de Espacios</b></p>


<button class="mx-2 pointer px-3 p-2" (click)="openDesignerSignupModal()">  <b>Registrarme</b></button>



</div>
</div>

</div>
