<div class="container px-3">
<div class="d-flex flex-row justify-content-center"><h3 class="underline">Aviso Legal</h3></div>

<p class="mt-5">Has accedido a la Página Web y sus contenidos, que se reproducen a través del acceso al dominio titularidad de <b>SUUTIL</b>, la cual pone en tu conocimiento
la información que, en virtud de la normativa de aplicación, ha de ser puesta a disposición de los destinatarios así como las condiciones que rigen el
uso y navegación de la presente Página Web. </p>

<p class="mt-3">Así mismo, se exponen las prohibiciones y responsabilidades derivadas de la utilización indebida de contenidos reproducidos, tales como textos,
gráficos, dibujos, diseños, fotografías, software, códigos, vídeos, música, bases de datos, imágenes, informaciones así como cualquier otra creación
susceptible de protección.</p>

<p class="mt-3">En cumplimiento con el artículo 10 de la Ley 34/2002 de Servicios de la Sociedad de la Información y Comercio Electrónico -LSSICE- y el artículo 4.4 de la
Ley 56/2007, de 28 de diciembre, de Medidas de Impulso de la Sociedad de la Información -LMISI-,  <b>SUUTIL</b> es una marca titularidad de Alejandra Pérez Pacheco
con DNI 50870707C y Carolina Abenza Gutiérrez con DNI 53390501A, y contacto en hola@suutil.com

<p class="mt-3">La navegación y uso de los contenidos reproducidos a través del dominio de acceso a la Página Web es completamente gratuito, siendo titular o
disponiendo de la correspondiente licencia SUUTIL sobre los contenidos que se reproducen en aquella, exponiendo el presente clausulado, el cual estará
actualizado y disponible para su reproducción y visualización con la finalidad que conozcan las disposiciones afectas.</p>

<p class="mt-3">En ningún caso, se entenderá que el hecho de permitir a los usuarios el acceso a la Página Web implica una renuncia, transmisión, licencia o cesión,
total ni parcial, de dichos derechos. Está expresamente prohibido suprimir, eludir o manipular cualesquiera datos de identificación de los derechos
 correspondientes a sus titulares e incorporados a los contenidos. Asimismo, está prohibido modificar, copiar, reutilizar, explotar, reproducir, comunicar
  públicamente, hacer segundas o posteriores publicaciones, cargar archivos, enviar por correo, transmitir, usar, tratar o distribuir de cualquier forma
   la totalidad o parte de los contenidos incluidos en la presente Página Web indistintamente del soporte y/o dispositivo a través de los cuales se pueda
    acceder para propósitos públicos o comerciales si no se cuenta con la autorización expresa y por escrito de SUUTIL o, en su caso, del titular de los
     derechos que corresponda. </p>

<p class="mt-3">SUUTIL es titular de derechos marcarios sobre dicha denominación no pudiéndose utilizar en conexión con otros contenidos, productos o servicios que no
 sean titularidad de aquella, cuando puedan causar confusión entre los usuarios finales o el descrédito de SUUTIL. De igual forma, SUUTIL se reserva
 el derecho de utilización de los dominios o denominaciones titularidad o asociadas al mismo en el ámbito mercantil. De igual forma, nos reservamos el
 derecho a impedir la utilización del o los dominios titularidad de SUUTIL y/o que se deriven de aquellos que, por su parecido, puedan inducir a error
  o confusión sobre los signos, denominaciones u origen empresarial titularidad de SUUTIL.</p>

<p class="mt-3">SUUTIL, a través de la presente Página Web y/o a través de los medios sociales respecto de los cuales ostente un derecho de uso no se hace responsable
de las siguientes actuaciones:</p>

<ul>
  <li>El mal uso que usted pueda realizar de los recursos disponibles, especialmente, en relación a la Página Web y medios sociales y los contenidos
    reproducidos en los mismos.
</li>
<li>La ausencia de virus y/o demás componentes dañinos en los medios que se reproduzcan los contenidos o en el servidor que los suministra,
  tanto en lo relativo a la visualización de los contenidos por los usuarios como en la descarga de los mismos.
</li>
<li>Los contenidos y servicios prestados por terceros.</li>
<li>La invulnerabilidad de la presente Página Web y de los medios o servicios, ni del software utilizado, distribuido u obtenido del mismo.</li>
<li>El mayor o menor rendimiento de los contenidos albergados.
</li>
<li>Los daños o perjuicios que causare cualquier persona, bien a si misma o a terceras, que infringiera las condiciones, normas e instrucciones establecidas, principalmente, las derivadas de opiniones, comentarios y actuaciones tendentes a desacreditar y/o vulnerar derechos constitucionales.
</li>
<li>Los daños ocasionados por la vulneración de los sistemas de seguridad establecidos, por parte de SUUTIL.
</li>
<li>El mal funcionamiento de software o plugins -descarga que pudiere realizarse desde el link establecido al efecto- necesario para la visualización y escucha de determinados contenidos albergados.
</li>
<li>Cualquier acción y/o actuación que pudiere realizar en relación con la vulneración de derechos de terceros, especialmente, en relación a la imagen, propiedad intelectual o industrial.
</li>
</ul>

<p>Respecto a los contenidos, comentarios que pudieran ser reproducidos por los usuarios en los medios sociales así como en la presente Página Web o
  en otros medios titularidad de SUUTIL, aquellos son los únicos responsables de los contenidos que publiquen, otorgando a SUUTIL respecto a los mismos
   la cesión no exclusiva de los derechos de explotación -reproducción, distribución, comunicación pública, transformación- de las informaciones,
   comentarios u opiniones que suministre así como autorización, en su caso, para la publicación y/o reproducción de sus datos personales, incluidos
    las imágenes, vinculados a dicha información.
</p>

<p>Podrás acceder, bien a través de la presente Página Web, bien a través de los medios sociales sobre los que SUUTIL disponga de cuenta asociada a
  la misma, a contenidos albergados por terceros, no pudiendo efectuar operaciones y/o actuaciones diferentes a las normas que dichos terceros hayan
  establecido en sus contenidos, no haciéndose responsable SUUTIL de la utilización indebida y/o no permitida establecida por terceros.
</p>

<p>De conformidad con lo establecido en materia de protección de datos, SUUTIL garantiza la plena adecuación a la Ley Orgánica 15/1999,
  de 13 de diciembre, de Protección de Datos de Carácter Personal y al Reglamento que desarrolla aquella -R.D. 1720/2007- así como a
   cualesquiera normativa, de ámbito internacional, estatal o autonómico, que regule la materia.
</p>

<p>En virtud del artículo 5 LOPD informa de las finalidades en el tratamiento de datos personales que recaba o trata, disponiendo del alta y
  registro del fichero SUUTIL Design Better ante la Agencia Española de Protección de Datos y facilitando al afectado los derechos de acceso,
  rectificación, cancelación y oposición. Así mismo, cumple con la normativa de servicios de la sociedad de la información y comercio electrónico,
  tanto en materia de cookies como en el supuesto de remisión de información comercial o promocional. Dispone de mayor información en el enlace
  Política de Privacidad.
</p>


 <p>En aquellos contenidos reproducidos y accesibles donde sea imprescindible completar formulario/s con información personal se dispondrá de
    clausulado específico que regirá la recogida y tratamiento de sus datos de carácter personal. De conformidad con Ley de Servicios de la
    Sociedad de la Información y Comercio Electrónico, la Página Web recaban cookies de navegación -pequeños archivos que contienen una
    serie de caracteres que se envían a su explorador desde el servidor de un sitio Web.- En caso que no consintiera el tratamiento de dicha
     información puede modificar la configuración de su explorador a tal efecto. Así mismo, dispone de mayor información sobre recopilación
     de cookies y finalidad del tratamiento de éstas a través del enlace Política de Cookies.
</p>

<p>Queda expresamente prohibido el almacenamiento, descarga o copia de datos de carácter personal que pudiere realizar en función de la publicación
  de los mismos a través de los contenidos insertos en cualquier medio titularidad de SUUTIL. Se le informa que los datos de carácter personal
  reproducidos o disponibles no se consideran fuentes accesibles al público y, por tanto, no dispone de autorización -legal o particular- para la
  recopilación, almacenamiento o tratamiento de aquellos. De igual forma, el precedente será aplicable igualmente para los medios sociales sobre
  los que la SUUTIL disponga de cuenta al efecto, si bien la SUUTIL en dichos supuestos tratará los datos personales de los usuarios de conformidad
  con la normativa afecta, recomendándole que configuren su privacidad, no haciéndose responsable de la publicación y distribución que de su datos
  personales efectúen y rigiéndose la utilización de dichas plataformas por su propias condiciones.
</p>

 <p>El titular de los datos personales facilitados podrá ejercitar su derecho de acceso, rectificación, oposición, cancelación y/o portabilidad dirigiendo comunicación
   escrita a nombre de SUUTIL remitiendo comunicación electrónica a la dirección <a href="mailto:hola@suutil.com">hola@suutil.com</a> con el asunto de referencia “Datos Personales”, incluyendo
    en tal comunicación el nombre y apellidos de quien ejercita el derecho; derecho pretendido a ejercitar y acreditación de identidad.
</p>

<p>Las redes sociales a través de las cuales SUUTIL se da a conocer son las siguientes:
</p>

<ul>
  <li>INSTAGRAM. Se dispone de perfil en Instagram donde comparte contenidos, especialmente, fotográficos que pueden ser de interés. Para poder acceder al perfil no es necesario registrarse. A través de dicho perfil, en caso que disponga de cuenta en dicha red de comunicación podrá seguirnos  y efectuar las actividades que se permiten en dicha plataforma, informándole que, en caso de disponer de cuenta en Instagram, su información personal de perfil puede ser distribuida a otros usuarios de la red de comunicación, recomendándole que ajuste en su configuración de perfil las diferentes opciones de privacidad. Dispone de mayor información respecto a la condiciones de uso -reproducción, copia, reutilización, distribución, uso comercial, etc.- y privacidad de la red de comunicación en la propia plataforma de Instagram.
</li>
<li>PINTEREST. Se dispone de perfil en Pinterest donde se comparten contenidos, especialmente, fotográficos que pueden ser de interés. Para poder acceder al perfil no es necesario registrarse. A través de dicho perfil, en caso que disponga de cuenta en dicha red de comunicación podrá seguirnos a través de los diferentes tableros y efectuar las actividades que se permiten en dicha plataforma, informándole que, en caso de disponer de cuenta en Pinterest, su información personal de perfil puede ser distribuida a otros usuarios de la red de comunicación, recomendándole que ajuste en su configuración de perfil las diferentes opciones de privacidad. Dispone de mayor información respecto a la condiciones de uso -reproducción, copia, reutilización, distribución, uso comercial, etc.- y privacidad de la red de comunicación en la propia plataforma de Pinterest.
</li>
<li>LINKEDIN. Se dispone de perfil en Linkedin donde se comparten contenidos, que pueden ser de interés. Para poder acceder al perfil no es necesario registrarse. A través de dicho perfil, en caso que disponga de cuenta en dicha red de comunicación podrá seguirnos  y efectuar las actividades que se permiten en dicha plataforma, informándole que, en caso de disponer de cuenta en Linkedn, su información personal de perfil puede ser distribuida a otros usuarios de la red de comunicación, recomendándole que ajuste en su configuración de perfil las diferentes opciones de privacidad. Dispone de mayor información respecto a la condiciones de uso -reproducción, copia, reutilización, distribución, uso comercial, etc.- y privacidad de la red de comunicación en la propia plataforma de Instagram.
</li>
<li>FACEBOOK. Se dispone de perfil en Facebook donde se comparten contenidos, que pueden ser de interés. Para poder acceder al perfil no es necesario registrarse. A través de dicho perfil, en caso que disponga de cuenta en dicha red de comunicación podrá seguirnos  y efectuar las actividades que se permiten en dicha plataforma, informándole que, en caso de disponer de cuenta en Facebook, su información personal de perfil puede ser distribuida a otros usuarios de la red de comunicación, recomendándole que ajuste en su configuración de perfil las diferentes opciones de privacidad. Dispone de mayor información respecto a la condiciones de uso -reproducción, copia, reutilización, distribución, uso comercial, etc.- y privacidad de la red de comunicación en la propia plataforma de Instagram.
</li>
</ul>

<p>De igual modo, consiente que los datos personales respecto a su cuenta en determinadas redes sociales sean tratados, en virtud de la configuración
  de privacidad establecida en su perfil, asociados a la navegación y respecto de la información que nos suministre con finalidades estadísticas,
  históricas y comportamentales, disponiendo de información al respecto en la Política de Cookies inserta y accesible, así como de las condiciones
  de navegación y privacidad disponibles en sus respectivos enlaces reproducidos en la Página Web.
</p>

<p>Las presentes condiciones tienen la vigencia que dura su exposición. SUUTIL aconseja que, cada vez que los usuarios accedan a los contenidos
  y/o servicios albergados y reproducidos, lean con detenimiento las mismas. SUUTIL se reserva el derecho de modificación unilateral de las
  presentes condiciones en cualquier momento, en su totalidad o parcialmente. La modificación surtirá efectos desde su publicación en el presente
   enlace permanente. De igual forma, SUUTIL podrá optar por interrumpir, suspender o terminar unilateralmente el acceso a los contenidos, con
   independencia de lo dispuesto en las condiciones que rigen la prestación de los servicios y/o contenidos dispuestos. Dichas situaciones no
   alterarán la vigencia de las prohibiciones de uso de los contenidos expuestos a lo largo del presente clausulado.
</p>

 <p>En el caso de que cualquier disposición o disposiciones contenidas en las presentes condiciones fueran consideradas nulas o inaplicables,
   en su totalidad o en parte, por cualquier Juzgado, Tribunal u órgano administrativo competente, dicha nulidad o inaplicación no afectará
   al resto condiciones aplicables en virtud de los servicios y/o contenidos dispuestos. El no ejercicio o ejecución, por parte de SUUTIL,
   de cualquier derecho o disposición contenido en estas condiciones no constituirá una renuncia al mismo, salvo reconocimiento y acuerdo
    escrito por su parte.
</p>

 <p>Todas las condiciones insertadas se rigen por la normativa española. Todos los conflictos, controversias o situaciones derivadas
   de las presentes condiciones y/o de las condiciones particulares aplicables a cada servicio se someterán a los Juzgados y Tribunales de
   la Villa de Madrid, renunciando expresamente las partes a su fuero.
</p>



<div class="d-flex flex-row justify-content-center mt-5"><p><b>© 2018. SUUTIL. TODOS LOS DERECHOS RESERVADOS</b></p></div>










</div>
