<form class="form-signin" (ngSubmit)="onSubmit()" #signupForm="ngForm">
    <div>
        <div class="form-group" [ngClass]="{'has-danger': checkDirty(signupForm.form, 'email') && !email}">
            <label class="form-control-label" for="email" translate>Email</label>
            <input [(ngModel)]="email" name="email" type="email" class="form-control" id="email" required placeholder="Contraseña">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-12 text-right">
            <button [disabled]="!signupForm.form.valid" class="col-form-label col-form-label-md" type="submit" class="btn btn-primary"
                translate>Enviar Email</button>
        </div>
    </div>
</form>
