$color-neutral-10: #F6F6F6;
$color-neutral-20: #E9E9E9;
$color-neutral-30: #bbb;
$color-neutral-70: #444;
$color-neutral-90: #111;
$form-background: #F1F1F1;
$form-color: #868686;
//CONTAMAR COLORS
$suutil-blue: #20A6C1;
$suutil-grey: #635E5E;
$suutil-yellow: #EDC007;

.white {
  color: white
}

.blue {
  color: $suutil-blue;
}

.dark {
  color: #333333;
}

.light-grey {
  color: #635E5E;
}
