$header-height: 64px;
.total-height {
    height: calc(100vh - $header-height);
}

.total-height-no-header {
    height: 100vh;
}

.range-selector {
    min-width: 170px;
}

.big-range-selector {
    min-width: 300px;
}

.medium-column {
  width: 30vw;
}

.small-column {
  width: 20em;
}

.big-column {
  width: 60em;
}

@media (min-width: 767px) and (max-width: 1450px) {
  .medium-column {
  //  width: 27em;
  }
}
