<div class="container px-3">
    <div class="d-flex flex-row justify-content-center">
        <h3 class="mt-5"><b>TRANSPARENCIA GDPR
    </b></h3>

    </div>

    <div class="row my-5">
        <div class="col-2">
            <img class="big-icon" src="assets/icons/gdpr/1.png" alt="instagram">
        </div>
        <p class="col-9 px-4 px-md-0 mt-0 mt-sm-1 mt-md-3"><b>RECOGIDA.</b> Se recaban datos personales para que los usuarios, tanto Diseñadores de Espacios, como Proveedores de Productos de Diseño, libre, voluntaria y gratuitamente puedan acceder a los servicios que proporciona SUUTIL, o solicitarnos
            información.
        </p>
    </div>

    <div class="row my-5">
        <div class="col-2">
            <img class="big-icon" src="assets/icons/gdpr/2.png" alt="instagram">
        </div>
        <p class="col-9 px-4 px-md-0 mt-0 mt-sm-1 mt-md-3"><b>FINALIDAD.</b> Exclusivamente se tratan los datos con la finalidad descrita en las Condiciones afectas –DISEÑADOR/PROVEEDOR- o para ofrecerle información. </p>
    </div>

    <div class="row my-5">
        <div class="col-2">
            <img class="big-icon" src="assets/icons/gdpr/3.png" alt="instagram">
        </div>
        <p class="col-9 px-4 px-md-0 mt-0 mt-sm-1 mt-md-3"><b>DESTINATARIOS.</b> El único destinatario es SUUTIL, no previéndose cesiones de datos a terceros.
        </p>
    </div>

    <div class="row my-5">
        <div class="col-2">
            <img class="big-icon" src="assets/icons/gdpr/4.png" alt="instagram">
        </div>
        <p class="col-9 px-4 px-md-0 mt-0 mt-sm-1 mt-md-3"><b>SEGURIDAD.</b> Los datos personales e información asociada se almacena
          cifrada y en servidores seguros.
 </p>
    </div>

    <div class="row my-5">
        <div class="col-2">
            <img class="big-icon" src="assets/icons/gdpr/5.png" alt="instagram">
        </div>
        <p class="col-9 px-4 px-md-0 mt-0 mt-sm-1 mt-md-3"><b>DERECHOS.</b> Le son reconocidos de forma gratuita los derechos de acceso, rectificación, cancelación y oposición.</p>
    </div>

    <div class="row my-5">
        <div class="col-2">
            <img class="big-icon" src="assets/icons/gdpr/6.png" alt="instagram">
        </div>
        <p class="col-9 px-4 px-md-0 mt-0 mt-sm-1 mt-md-3"><b>RECLAMACIONES. </b>Podrán dirigirse reclamaciones ante la Agencia Española de Protección de Datos.</p>
    </div>


        <div class="row my-5">
            <div class="col-2">
                <img class="big-icon" src="assets/icons/gdpr/7.png" alt="instagram">
            </div>
            <p class="col-9 px-4 px-md-0 mt-0 mt-sm-1 mt-md-3"><b>DESESTIMIENTO. </b>Podrá desistir en cualquier momento y de forma gratuita del consentimiento otorgado.</p>
        </div>

        <div class="row my-5">
            <div class="col-2">
                <img class="big-icon" src="assets/icons/gdpr/8.png" alt="instagram">
            </div>
            <p class="col-9 px-4 px-md-0 mt-0 mt-sm-1 mt-md-3"><b>CONSERVACIÓN. </b>Los datos se mantendrán hasta concluir la finalidad para la cual se han recabado y hasta 13 meses desde que finalizara la misma.</p>
        </div>


        <div class="row my-5">
            <div class="col-2">
                <img class="big-icon" src="assets/icons/gdpr/9.png" alt="instagram">
            </div>
            <p class="col-9 px-4 px-md-0 mt-0 mt-sm-1 mt-md-3"><b>INFORMACIÓN ADICIONAL. </b>Quedan insertados enlaces durante toda la navegación donde ampliamos la presente información.</p>
        </div>

</div>
