<div class="container px-3">
    <p><b>Aquí encontrarás las condiciones primero, para  DISEÑADORES DE ESPACIOS, y justo después para PROVEEDORES DE PRODUCTOS DE INTERIORISMO.
  Sólo aplicarán las que has aceptado en tu formulario de registro.</b></p>

    <h3 class="mt-5"><b>CONDICIONES DISEÑADOR DE ESPACIOS</b></h3>

    <p class="mt-5">Las presentes CONDICIONES DE REGISTRO COMO DISEÑADOR DE ESPACIOS rigen la relación entre el DISEÑADOR DE ESPACIOS y SUUTIL, desde el mismo momento de su aceptación, mediante la marcación de la casilla dispuesta en el formulario de REGISTRO DISEÑADOR
        DE ESPACIOS donde SUUTIL pone a su disposición las presentes condiciones con la finalidad de que éstas puedan ser visualizadas, impresas y/o guardadas. La marcación “He leído y acepto las CONDICIONES DISEÑADOR DE ESPACIOS” conlleva la aceptación
        de las presentes condiciones, las cuales se encuentran incluidas durante toda la navegación, así como en el mail de confirmación de registro.</p>

    <p><b>1. Aceptación de las condiciones</b></p>
    <p>
        Para registrarse como DISEÑADOR DE ESPACIOS, es imprescindible que seas mayor de edad y profesional en el sector del interiorismo/decoración/arquitectura y/o diseño, no aceptándose como DISEÑADOR DE ESPACIOS, profesionales no cualificados. A tal fin y,
        con la intención de garantizar las particularidades del público al que SUUTIL quiere dirigirse, se podrán solicitar documentos acreditativos de tu actividad, tales como, datos de empresa verificables, modelo 036/037, registro en colegio oficial
        o documento similar. En caso no se aportara dicha documentación en el plazo notificado, máximo 7 días laborables, SUUTIL podrá prohibir el registro de dicho DISEÑADOR DE ESPACIOS o en caso que este ya estuviera registrado podrá eliminar su cuenta.</p>



    <p>Del mismo modo, el DISEÑADOR DE ESPACIOS es consciente que en el momento de la confirmación de registro, declara haber leído las presentes condiciones, estando plenamente de acuerdo con todas y cada una de las mismas.</p>
    <p>Para que surta efecto la aceptación, el DISEÑADOR DE ESPACIOS, previamente, deberá completar aquellos pasos y campos que se consideren imprescindibles para cursar la solicitud, debiendo rellenar los mismos con datos veraces y completos.</p>


    <p><b>2. ¿Cómo registrarme como DISEÑADOR DE ESPACIOS?</b></p>
    <p><b>Regístrate, y empieza a encontrar productos.</b></p>

    <p>Podrás darte de alta en nuestra plataforma a través de un sencillo formulario. El alta en SUUTIL es gratuita y exclusiva para diseñadores de espacios, no es un servicio para público particular. </p>
    <p>Una vez registrado es posible que solicitemos la acreditación de tu condición de profesional, como se indica en el apartado Aceptación de las condiciones.</p>
    <p>A partir de ese momento ya serás uno de nosotros y tendrás acceso libre para consultar cada espacio de proveedor de nuestra plataforma. Allí encontrarás toda la información relativa a cada negocio, su política de ventas y devoluciones y dispondrás
        de un link para acceder directamente a su sitio web.</p>

    <p class="underline">Estos son los pasos que tienes que seguir: </p>

    <ol>
        <li>El usuario se registra en la web completando el formulario a tal efecto con su nombre, apellidos, dirección de email y contraseña, y aceptando las condiciones de DISEÑADOR DE ESPACIOS.
        </li>
        <li>Una vez se hayan aceptado las condiciones se enviará, a la dirección que hayas facilitado en el formulario de registro, un mail de bienvenida, y otro más de confirmación, donde se incluirá un link de confirmación, que deberá ser aceptado para
            que procesemos tu registro. En caso de solicitarte documentación acreditativa de tu actividad, esta deberá de ser enviada en un plazo máximo de 7 días laborables. Como se indica en el apartado Aceptación de las condiciones
        </li>
        <li>Una vez registrado, dentro de tu área privada, podrás modificar tu contraseña.
        </li>
    </ol>

    <p><b>3. ¿Cuál es  el valor que SUUTIL me aporta?
</b></p>

    <p>Una vez registrado, podrás consultar una base de datos de proveedores seleccionados de productos para interiorismo, que será filtrable por categorías (mobiliario, iluminación, textil, accesorios, acabados decorativos, baño, cocina y exterior).
    </p>

    <p>Cada proveedor dispone de un espacio propio en el que consultar la información detallada sobre su actividad, imágenes de sus productos, condiciones de venta, envíos, devoluciones, condiciones especiales para profesionales, información de contacto
        y enlaces a su web y redes sociales.</p>

    <p>Podrás seleccionar los proveedores que más te gusten y se guardarán en el apartado “Mis Favoritos” dentro de su área privada. También tendrás la posibilidad de indicar “me gusta” a los proveedores que más valores, de esta forma la comunidad irá calificando
        el valor de cada proveedor.
    </p>

    <p>Desde tu área privada podrás consultar nuestro Magazine, donde encontrarás artículos relativos a los productos que promocionamos, nuestros proveedores o noticias de interés o actualidad del sector.
    </p>

    <p><b>4. ¿Cómo son las comunicaciones en SUUTIL?</b></p>

    <p>Con cualquier duda o consulta podrás comunicarte con nosotros en <a href="mailto:hola@suutil.com">hola@suutil.com</a>
    </p>
    <p>Suutil podrá utilizar el email que aportas en tu registro para notificarte cualquier novedad o modificación en el servicio. Del mismo modo, usará tú email para comunicaciones comerciales propias o boletines esporádicos. </p>

    <p>No se entregarán tus datos a terceros, y si fueran solicitados, se valorará el interés de esta solicitud poniéndola en tú conocimiento para que des tu autorización expresa y por escrito.
    </p>

    <p>En caso de que quieras dar de baja tu cuenta debes enviarnos un email a hola@suutil.com y procedemos a borrar sus datos, dejando así de ser usuario de SUUTIL.
    </p>

    <p><b>Protección de Datos Personales
</b></p>

    <p>De conformidad con la <b>Ley Orgánica 15/1999</b>, de 13 de diciembre, de <b>Protección de Datos de Carácter Personal</b> y su Reglamento de desarrollo, <b>RD 1720/2007, SUUTIL</b> le informa que los datos que nos facilite pasarán a formar parte del
        fichero SUUTIL Design Better debidamente inscrito ante la Agencia Española de Protección de Datos y cuya finalidad es administrativa y de gestión de la propia plataforma SUUTIL, responsabilidad de SUUTIL. <b>hola@suutil.com</b> .</p>


    <p>Asimismo, los afectados tienen derecho a ejercitar los derechos de acceso, rectificación y cancelación. Dichos derechos deberán ser ejercitados a través de correo electrónico hola@suutil.com, comunicando el derecho que se desea ejercitar, así como
        el motivo y adjuntando copia escaneada del <span class="underline">DNI o documento identificativo, así como la
     dirección a efectos de notificaciones.</span></p>

    <p>Para saber más acerca de nuestra política de privacidad <a routerLink="/politica-de-privacidad" target="_blank" class="underline">diríjase aquí.</a></p>
    <p><b>Ley Aplicable y Jurisdicción</b></p>
    <p>Las presentes condiciones, insertadas en la Página Web se rigen por la normativa española. Todos los conflictos, controversias o situaciones derivadas de los textos legales (Aviso Legal, Política de Privacidad, Condiciones DISEÑADOR DE ESPACIOS se
        someterán a los Juzgados y Tribunales de la Villa de Madrid, renunciando expresamente las partes a su fuero.
    </p>

    <h3 class="mt-5"><b>CONDICIONES PROVEEDOR
</b></h3>

    <p class="mt-5">Las presentes CONDICIONES DE REGISTRO COMO PROVEEDOR rigen la relación entre el PROVEEDOR DE PRODUCTOS DE INTERIORISMO, a partir de ahora el PROVEEDOR, y <b>SUUTIL</b>, desde el mismo momento de su aceptación, mediante la marcación de la casilla dispuesta
        en el formulario de REGISTRO PROVEEDOR. <b>SUUTIL</b> pone a su disposición las presentes condiciones con la finalidad de que éstas puedan ser visualizadas, impresas y/o guardadas.
    </p>

    <p>La marcación “He leído y acepto las CONDICIONES PROVEEDOR” conlleva la aceptación de las presentes condiciones, las cuales se encuentran incluidas durante toda la navegación, así como en el mail de confirmación de registro. </p>

    <p><b>1. Aceptación de las condiciones</b></p>
    <p>Para registrarse como PROVEEDOR, es imprescindible que seas mayor de edad y profesional del sector del diseño, producción, promoción, comercialización y/o venta de productos de interiorismo, tales como mobiliario, iluminación, textil, accesorios,
        acabados decorativos, baño, cocina y exterior, así como disponer de página web o catálogo online o alguna otra vía que permita a Suutil evaluar si se ajusta al tipo de producto que promociona, reservándose Suutil el “derecho de admisión” según
        criterios propios que permiten garantizar la calidad de nuestro servicio, así como ser consciente que en el momento de la confirmación de registro declaras haber leído las presentes condiciones, estando plenamente de acuerdo con todas y cada una
        de las mismas.
    </p>
    <p>Para que surta efecto la aceptación, el PROVEEDOR, previamente, deberá completar aquellos pasos y campos que se consideren imprescindibles para cursar la solicitud, debiendo rellenar los mismos con datos veraces y completos.
    </p>


    <p><b>2. ¿Cómo registrarme como PROVEEDOR?</b></p>
    <p>En SUUTIL amamos el #buendiseño: sencillo, útil, comprensible, atemporal, innovador, duradero... así que si te consideras proveedor de #buendiseño,
        <b>regístrate y haz que tú negocio llegue directamente a los profesionales del sector.</b></p>
    <p>Podrás darte de alta en nuestra plataforma a través de un sencillo formulario. El alta en SUUTIL es gratuita.</p>

    <p class="underline">Estos son los pasos que tienes que seguir:
    </p>

    <ol>
        <li>El proveedor se registra en la web completando el formulario para Proveedores de productos de interiorismo habilitado a tal efecto con su nombre, apellidos, empresa/marca, enlace a url/catálogo y dirección de email, y aceptando las condiciones
            de proveedor.
        </li>
        <li>
            <p> En SUUTIL analizamos tu candidatura y te hacemos llegar las claves para acceder a tu área privada, en adelante, ESPACIO DE PROVEEDOR.
            </p>
            <p>Suutil se reserva el “derecho de admisión” según criterios propios, con los que decidimos qué es #buendiseño y que
              permiten garantizar la calidad de nuestro servicio.
            </p>
            <p>En caso de que tú candidatura no sea seleccionada para pertenecer a SUUTIL, nos comprometemos a eliminar todos tus datos de nuestros ficheros.</p></li>
        <li><b>Qué es el espacio de proveedor.</b>

        </li>

    </ol>
    <p>Es un espacio privado donde podrás dar visibilidad a tu negocio/productos y que tendrá las siguientes ventajas: </p>
    <ul>

<li><span class="underline">Presenta tu marca</span>: logotipo, nombre, lema, categoría en la que te ubicas, país de origen.</li>
        <li><span class="underline">Descripción</span>: qué haces, cómo te diferencias, cuál es tu propuesta de valor.</li>
        <li><span class="underline">Información detallada</span>: explica tu política de ventas, formas de pago, entregas, devoluciones
           y condiciones de venta para profesionales.</li>
        <li><span class="underline">Información de contacto</span>: web, mail, teléfono, dirección de tu tienda física, showroom o taller.</li>
        <li><span class="underline">Imágenes</span>: haz que tu espacio sea atractivo ¡la puesta en escena es fundamenta!
tú elijes si promocionar un producto o colección, un evento o una gran noticia sobre tu marca.</li>
          <li><span class="underline"> Links</span>: enlaces directos a tu web y tus perfiles en redes sociales.</li>
            <li><span class="underline">Tags</span>: selecciona las #etiquetas que mejor te describen,
             serán muy útiles para que los usuarios te encuentren.></li>
</ul>


<p><b>Tendrás acceso a modificar o ampliar toda la información de tu  Espacio de Proveedor desde tu área privada
  cuando quieras, es decir, podrás reorientar tu estrategia de venta o promoción cuando lo veas necesario, cambiando
  imágenes, enlaces, etc.  </b></p>

<p> Recuerda que SUUTIL es una comunidad de PROFESIONALES PARA PROFESIONALES, enfoca tu estrategia,  actualiza tu propuesta de valor y
  aprovecha la oportunidad para aumentar y enfocar tus ventas.</p>
<p>Será imprescindible que el proveedor sea el titular de las imágenes que suba a la plataforma SUUTIL o
  que haya obtenido los derechos para el uso de las mismas, absteniéndose SUUTIL de responsabilidad respecto a un uso indebido de las mismas.
</p>
<p>En cualquier momento que SUUTIL sea conocedor de infracción de derechos de propiedad intelectual y/o industrial por parte de
  cualquier proveedor, SUUTIL podrá bloquear la cuenta e incluso eliminarla. </p>

<p><b>4. Crear valor da puntos.</b></p>

  <p>  Cuanto mejor sea la información y la presentación de tu negocio, más útil será para los usuarios de SUUTIL,
     más visitas tendrás y más ventas podrás generar.
</p>
<p>  Cuida bien esta parte porque los ESPACIOS DE PROVEEDOR  más completos y con mejor imagen serán
  premiados con posicionamiento dentro de nuestra plataforma. Y no solo eso, tendrás más posibilidades de obtener alta puntuación por parte de nuestros usuarios –DISEÑADORES DE ESPACIOS-  que pueden, desde su área privada,  valorar los espacios de proveedor que más valor les aporten, ya sea por el interés que despiertan, sus proyectos o por cómo les pueden hacer ganar calidad y variedad en sus proyectos.
</p>
<p>  Consigue mejorar tu reputación digital!
</p>

<p><b>5. Quién ve  tu espacio de proveedor.</b></p>
<p><b>Nuestros usuarios son DISEÑADORES DE ESPACIOS (arquitectos, interioristas, decoradores…), y para poder ver la
  información de los PROVEEDORES inscritos en SUUTIL, han de estar registrados, certificando así SUUTIL, que son
  profesionales del sector y no público particular.
</b></p>

<p><b>De esta forma podemos ofrecer a nuestros PROVEEDORES un canal de difusión y promoción dirigido en exclusiva al
  público profesional y permitirles orientar su estrategia.
</b></p>

<p><b>
  6. LO MEJOR,  promocionar tu negocio en SUUTIL es GRATIS.
</b></p>
<p><b>SUUTIL ofrece un servicio de promoción gratuito. No tiene ningún coste registrarse para tener un ESPACIO DE PROVEEDOR.
  Y  si en algún momento cambiaran estas condiciones, te lo notificaríamos.</b>
</p>
<p><b>7. ¿Cómo son las comunicaciones en SUUTIL?</b></p>

<p>Con cualquier duda o consulta podrás comunicarte con nosotros en <a href="mailto:hola@suutil.com">hola@suutil.com</a></p>
<p>Suutil podrá utilizar el email que aportas en tu registro para notificarte cualquier novedad o modificación en el servicio.
  Del mismo modo, usará tú email para comunicaciones comerciales propias o boletines esporádicos.
</p>
<p>No se entregarán tus datos a terceros, y si fueran solicitados, se valorará el interés de esta solicitud poniéndola en
  tú conocimiento para que des tu autorización expresa y por escrito.
</p>
<p>En caso de que quieras dar de baja tu cuenta debes enviarnos un email a hola@suutil.com y procedemos a borrar sus datos,
   dejando así de ser usuario de SUUTIL.</p>

<p><b>Protección de Datos Personales</b></p>
<p>De conformidad con la <span class="underline">Ley Orgánica 15/1999</span>, de 13 de diciembre, de <span class="underline">
  Protección de Datos de Carácter Personal</span> y
  su Reglamento de desarrollo, <span class="underline">RD 1720/2007, SUUTIL</span> le informa que los datos que nos facilite pasarán a formar parte del
  fichero SUUTIL Design Better debidamente inscrito ante la Agencia Española de Protección de Datos y cuya finalidad es
  administrativa y de gestión de la propia plataforma SUUTIL, así como con fines promocionales de los espacios de proveedor,
   responsabilidad de SUUTIL. hola@suutil.com
</p>

<p>Asimismo, los afectados tienen derecho a ejercitar los derechos de acceso, rectificación y cancelación.
  Dichos derechos deberán ser ejercitados a través de correo electrónico hola@suutil.com, comunicando
  el derecho que se desea ejercitar, así como el motivo y adjuntando copia escaneada del DNI o documento
  identificativo, así como la dirección a efectos de notificaciones. </p>

  <p>Para saber más acerca de nuestra política de privacidad <a routerLink="/politica-de-privacidad" target="_blank" class="underline">diríjase aquí.</a></p>

<p><b>Ley Aplicable y Jurisdicción </b></p>
<p>Las presentes condiciones, insertadas en la Página Web se rigen por la normativa  española.
   Todos  los conflictos,  controversias o situaciones  derivadas  de  los textos legales (Aviso Legal,
   Política de Privacidad, Condiciones PROVEEDOR)  se someterán a los Juzgados y Tribunales de la Villa de Madrid,
    renunciando expresamente las partes a su fuero.</p>

    <div class="d-flex flex-row justify-content-center mt-5"><p><b>© 2018. SUUTIL. TODOS LOS DERECHOS RESERVADOS</b></p></div>

</div>
