<div class="edit-tag medium-column d-flex flex-column align-items-center">
  <h2>{{tag.tagName}}</h2>
<hr class="w-100 p-3">
<input name="tagName" ngModel required  class="w-50 pl-2" [(ngModel)]="tag.tagName">
<button (click)="editTagName()" class="btn w-50 mt-2">Guardar cambios</button>

<hr class="w-100 p-3">
<button *ngIf="tag.active" (click)="disableTag()" class="btn w-50 mt-2">Desactivar</button>
<button *ngIf="!tag.active" (click)="enableTag()" class="btn w-50 mt-2">Activar</button>
</div>
