<div class="">
    <div class="d-flex flex-column front-page">
        <div class="d-flex flex-row flex-wrap justify-content-between">
            <div *ngFor="let post of posts; let i = index">
                <div *ngIf="i === 0" class="main-article d-flex flex-column justify-content-center mb-2" [style.background-image]="backgroundUrl(post._id,'blog-main-picture')">
                    <div class="title w-100 d-inline-flex flex-column align-items-center justify-content-around pt-3 pb-3" [routerLink]="'/magazine/'+post._id">
                        <h2 class="main-title mt-2 mb-3">{{post.title}}</h2>
                        <h4 class="subtitle mt-2">{{post.subtitle}}</h4>
                    </div>
                </div>
                <div *ngIf="i !== 0" class="small-article d-flex flex-column justify-content-center mb-2" [style.background-image]="backgroundUrl(post._id,'blog-main-picture')">
                    <div class="title w-100 d-inline-flex flex-column align-items-center justify-content-around pt-3 pb-3" [routerLink]="'/magazine/'+post._id">
                        <h2 class="main-title  mt-2 mb-3">{{post.title}}</h2>
                        <h4 class="subtitle mt-2">{{post.subtitle}}</h4>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
