<div *ngIf="!shop">
    <div class="d-flex flex-column p-0 p-sm-5 justify-content-center align-items-center">
        <h2 (click)="createShop()" class="pointer blue">Editar</h2>
        <h3 class="mt-2">Esta es la plantilla de tu "Espacio de Proveedor". Clica en "Editar" y complétala. </h3>
    </div>
</div>

<div *ngIf="shop" class="px-md-5 px-1 mx-md-5 mx-0 shop-detail-container">
    <div class="d-flex flex-row w-100 justify-content-between px-3">
        <div>
            <a [routerLink]="'/shops'">VOLVER</a>
        </div>
        <div>
            <div *ngIf="user && user.rol === 'designer'">
                <h2 class="uppercase">{{shop.shopName}}</h2></div>

                <div *ngIf="user && user.rol === 'provider' && user._id !== shop.provider">
                    <h2 class="uppercase">{{shop.shopName}}</h2></div>

            <div *ngIf="user && user.rol === 'provider' && user._id === shop.provider">
                <h2 class="ml-5 pl-5">MI ESPACIO DE PROVEEDOR</h2></div>
        </div>
        <div>
            <h3 *ngIf="user && user.rol === 'provider' && user._id === shop.provider" class="blue pointer" [routerLink]="'/my-shop/edit'">EDITAR</h3></div>
    </div>
    <panel class="m-0 mx-5 shop-detail">
        <div class="d-flex flex-column pb-md-5 pb-2">
            <div class="d-flex flex-row flex-wrap shop-main-info pb-0 p-1 p-md-2 w-100">
                <div class="logo" [style.background-image]="backgroundUrl(shop._id,'logo')"></div>
                <div class="d-md-flex flex-column ml-lg-0 ml-4 mt-md-0 mt-5 w-50 p-lg-5 shop-title">
                  <div class="d-flex flex-row">
                    <div class="d-block d-lg-none" *ngFor="let cat of categories">
                      <h5 class="d-inline-flex mr-1" *ngIf="shop.categories.indexOf(cat._id) !== -1 && cat.type === 'category'">{{cat.categoryName}}</h5>
                  </div>
                  </div>
                    <h4 class="d-flex flex-wrap">{{shop.shopName}}</h4>
                    <h5 class="d-flex flex-row flex-wrap mt-3 w-100 w-md-75">{{shop.shortDescription}}</h5>
                    <h4 *ngIf="isNew(shop.createdAt)" class="new-shop-text mt-1">¡NUEVO!</h4>
                    <h4 *ngIf="shop.likes.length >= 20 && !isNew(shop.createdAt)" class="most-liked-text ml-0 ml-md-2 mb-0">¡MEJOR VALORADO!</h4>

                </div>

                <div class="d-flex flex-row justify-content-end shop-like-info">
                    <div class="d-flex flex-column pl-5">
                      <div class="d-flex flex-row flex-wrap justify-content-end">
                          <div class="d-none d-lg-block" *ngFor="let cat of categories">
                              <h4 class=" px-1 d-inline-flex" *ngIf="shop.categories.indexOf(cat._id) !== -1 && cat.type === 'category'">{{cat.categoryName}}</h4>
                          </div>
                          </div>
                        <div class="d-flex flex-row justify-content-end country">
                            <h4 class="pt-1 pt-md-2 mr-2">{{shop.country}}</h4>
                            <img class="mr-3 mt-1 mt-md-0" src="assets/images/flags/{{shop.country}}.png">
                            <div *ngIf="user && user.rol === 'designer'">
                                <a class="mr-3" *ngIf="!shop.likes ||shop.likes && shop.likes.indexOf(user._id) === -1" (click)="like(shop)"><img src="assets/icons/likeOFF.png" alt="Like"></a>
                                <a class="mr-3" *ngIf="shop.likes && shop.likes.indexOf(user._id) !== -1" (click)="unlike(shop)"><img src="assets/icons/likeON.png" alt="Like"></a>
                                <a class="mr-3" *ngIf="!user.favorites ||user.favorites && user.favorites.indexOf(shop._id) === -1" (click)="addToFavorites(shop)"><img height="20" src="assets/icons/favOFF.png" alt="Like"></a>
                                <a class="mr-3" *ngIf="user.favorites && user.favorites.indexOf(shop._id) !== -1" (click)="removeFromFavorites(shop)"><img height="20" src="assets/icons/favON.png" alt="Like"></a>
                            </div>
                            <div *ngIf="user && user.rol === 'provider'">
                                <a class="mr-3"><img src="assets/icons/likeOFF.png" alt="Like"></a>
                                <a class="mr-3"><img height="20" src="assets/icons/favOFF.png" alt="Like"></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="d-flex flex-row justify-content-center justify-content-md-between px-md-2 pt-0">

              <div class="row">
              <div class="col-sm-6 col-xs-12">
                <div class="d-flex flex-column w-100">


                        <div class="d-flex mt-3">
                            <div class="shop-banner w-100" [style.background-image]="backgroundUrl(shop._id,'banner')"></div>
                        </div>
                        <div class="d-flex flex-row justify-content-md-between justify-content-around mt-3 flex-wrap">
                            <div class="picture" [style.background-image]="backgroundUrl(shop._id,'picture1')"></div>
                            <div class="picture" [style.background-image]="backgroundUrl(shop._id,'picture2')"></div>
                        </div>
                        <div class="d-none flex-row justify-content-center mt-5 social d-md-flex">
                            <a *ngIf="shop.webLink" href="{{shop.webLink}}" class="rss-icon px-2" target="_blank"><img src="assets/icons/web.png" alt="facebook"></a>
                            <a *ngIf="shop.facebook" href="{{shop.facebook}}" class="rss-icon px-2" target="_blank"><img src="assets/icons/facebook.png" alt="facebook"></a>
                            <a *ngIf="shop.instagram" href="{{shop.instagram}}" class="rss-icon px-2" target="_blank"><img src="assets/icons/instagram.png" size="10" alt="instagram"></a>
                            <a *ngIf="shop.pinterest" href="{{shop.pinterest}}" class="rss-icon px-2" target="_blank"><img src="assets/icons/pinterest.png" alt="pinterest"></a>
                        </div>
                    </div>
              </div>


              <div class="mt-4 col-sm-6 col-xs-12 px-0">

                <div class="d-flex flex-column w-100">

                    <div class="shop-description mx-3">
                        <p class="d-flex flex-wrap">{{shop.description}}</p>
                    </div>


                    <div class="d-flex flex-column mt-bg-5 mt-2 mb-5 mx-3 conditions">
                        <h4>CONDICIONES</h4>
                        <div id="accordion">
                            <div class="card p-0 p-lg-2">
                              <a href="#collapsePayment" data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne">
                                <div class="d-flex flex-row">
                                  <div class="fa fa-plus mx-2 "></div>
                                <p class="mb-0">
                                  Formas de pago
                                </p>
                                </div>
                                </a>
                                <div id="collapsePayment" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                    <p class="p-2">{{shop.payment}}</p>
                                </div>
                            </div>

                            <div class="card p-0 p-lg-2">
                              <a href="#collapseShip" data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne">
                                <div class="d-flex flex-row">
                                  <div class="fa fa-plus mx-2"></div>
                                  <p class="mb-0">
                                  Envío
                                </p>
                              </div>
                                </a>
                                <div id="collapseShip" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                    <p class="p-2">{{shop.shippingMethod}}</p>
                                </div>
                            </div>

                            <div class="card p-0 p-lg-2">
                              <a href="#collapseRefund" data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne">
                                <div class="d-flex flex-row">
                                  <div class="fa fa-plus mx-2"></div>
                                  <p class="mb-0">
                                  Devoluciones y reembolso
                                </p>
                              </div>
                                </a>
                                <div id="collapseRefund" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                    <p class="p-2">{{shop.paymentMethod}}</p>
                                </div>
                            </div>


                            <div class="card p-0 p-lg-2">
                              <a href="#collapsePro" data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne">
                                <div class="d-flex flex-row">
                                  <div class="fa fa-plus mx-2"></div>
                                  <p class="mb-0">
                                  Condiciones de venta para profesionales
                                </p>
                              </div>
                                </a>
                                <div id="collapsePro" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                    <p class="p-2">{{shop.proConditions}}</p>
                                </div>
                            </div>


                        </div>

                    </div>




                    <div class="mt-0 mt-bg-5 pt-1 pt-bg-5 mx-3">
                        <h4>CONTACTO</h4>
                        <div class="d-flex flex-row flex-wrap">
                            <a *ngIf="shop.webLink" href="{{shop.webLink}}" target="_blank"><p class="mb-1">{{shop.webLink}} &nbsp;</p>
                            </a>
                            <p class="mb-1" *ngIf="shop.contactMail"> &nbsp; | &nbsp; {{shop.contactMail}}&nbsp;  | &nbsp;</p>
                            <div class="d-flex flex-row">
                              <p class="mb-1" *ngIf="shop.phone">{{shop.phone}}</p>
                            </div>
                        </div>
                        <div class="d-flex flex-row flex-wrap">
                            <p class="mb-1 mr-2" *ngIf="shop.address">{{shop.address}}</p>
                            <p class="ml-2 mb-1" *ngIf="shop.hours"> &nbsp;  | &nbsp; {{shop.hours}}</p>
                        </div>
                    </div>
                    <div class="d-flex flex-row flex-wrap mt-2 mt-xl-3 mb-xl-5 pt-xl-5 mx-3">
                        <div *ngFor="let tag of tags">
                          <div *ngIf="shop.tags.indexOf(tag._id) !== -1">
                            <p class="blue mx-2 mb-1" >#{{tag.tagName}} &nbsp;</p>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              <div class="d-flex flex-row justify-content-center mt-5 social d-md-none w-100">
                  <a *ngIf="shop.webLink" href="{{shop.webLink}}" target="_blank" class="rss-icon px-2" target="_blank"><img src="assets/icons/web.png" alt="facebook"></a>
                  <a *ngIf="shop.facebook" href="{{shop.facebook}}" target="_blank" class="rss-icon px-2" target="_blank"><img src="assets/icons/facebook.png" alt="facebook"></a>
                  <a *ngIf="shop.instagram" href="{{shop.instagram}}" target="_blank" class="rss-icon px-2" target="_blank"><img src="assets/icons/instagram.png" size="10" alt="instagram"></a>
                  <a *ngIf="shop.pinterest" href="{{shop.pinterest}}" target="_blank" class="rss-icon px-2" target="_blank"><img src="assets/icons/pinterest.png" alt="pinterest"></a>
              </div>
              </div>

            </div>
        </div>
    </panel>
    <div *ngIf="previousId && !preview" [routerLink]="'/shops/id/'+previousId._id" class="nav-left px-3 p-4 pointer">
        <a>
            <div class="fa fa-angle-left"></div>
          </a>
    </div>
    <div *ngIf="nextId && !preview" [routerLink]="'/shops/id/'+nextId._id" class="nav-right px-3 p-4 pointer">
      <a>
          <div class="fa fa-angle-right"></div>
        </a>
    </div>
</div>

<div *ngIf="!shop" class="px-lg-5 px-1 mx-lg-5 mx-md-2 mx-0 shop-container empty-shop">

    <panel class="m-0 mx-5 shop-detail">
        <div class="d-flex flex-column">
            <div class="d-flex flex-row flex-wrap shop-main-info pb-0 p-1 p-md-2 w-100">
                <div class="logo border" >
                <p class="text-align-center py-5 light-grey">Logo (.png o .jpg) 250x250 px recomendado. </p>
              </div>
                <div class="d-md-flex flex-column ml-3 ml-md-0 mt-md-0 mt-5 w-50 p-md-5 shop-title">

                        <h4 class="d-inline-flex">CATEGORÍA</h4>
                    <h4 class="d-flex flex-wrap">TU NOMBRE</h4>
                    <h5 class="d-flex flex-row flex-wrap mt-3">DESCRIPCIÓN CORTA</h5>
                    <h4 class="new-shop-text mt-1">¡NUEVO!</h4>
                </div>

                <div class="d-flex flex-row justify-content-end shop-like-info">
                    <div class="d-flex flex-column pl-5">
                        <div class="d-none d-md-block">
                            <h3 class="d-inline-flex" >CATEGORÍA</h3>
                        </div>
                        <div class="d-flex flex-row justify-content-end country">
                            <h4 class="pt-1 pt-md-2 mr-2">ESP</h4>
                            <img class="mr-3 mt-1 mt-md-0" src="assets/images/flags/ESP.png">
                            <div>
                                <a class="mr-3"><img src="assets/icons/likeOFF.png" alt="Like"></a>
                                <a class="mr-3"><img height="20" src="assets/icons/favOFF.png" alt="Like"></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="d-flex flex-row justify-content-center justify-content-md-between flex-wrap  px-md-2 pt-0">

                <div class="row w-100">

                    <div class="col-sm-6 col-xs-12">
                        <div class="d-flex flex-column w-100">




                                <div class="shop-banner w-100 d-flex flex-row justify-content-center border">
                                <p class="text-align-center p-5 light-grey">Imagen 1 (.png o .jpg) 980x460 px recomendado.</p>
                                </div>

                            <div class="d-flex flex-row justify-content-md-between mt-3 flex-wrap justify-content-around">
                                <div class="picture mock-up px-1 border pt-3 pb-3">
                                  <p class="text-align-center py-5 my-md-5 my-0 light-grey">Imagen 2 (.png o .jpg) 480x480 px recomendado.</p>
                                </div>
                                <div class="picture mock-up px-1 border pt-3 pb-3">
                                <p class="text-align-center py-5 my-md-5 my-0  light-grey">Imagen 3 (.png o .jpg) 480x480 px recomendado.</p>
                              </div>
                            </div>
                            <div class="d-none flex-row justify-content-center mt-5 social d-md-flex">
                                <a class="rss-icon px-2"><img src="assets/icons/web.png" alt="facebook"></a>
                                <a class="rss-icon px-2"><img src="assets/icons/facebook.png" alt="facebook"></a>
                                <a class="rss-icon px-2"><img src="assets/icons/instagram.png" size="10" alt="instagram"></a>
                                <a class="rss-icon px-2"><img src="assets/icons/pinterest.png" alt="pinterest"></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-xs-12 px-0">
                        <div class="d-flex flex-column w-100">

                            <div class="shop-description mx-3 border  pb-0 pb-md-5">
                                <h4 class=" m-3">DESCRIPCIÓN</h4>
                                <p class="p-3 pb-0 pb-md-5 mb-0 mb-md-5">Este párrafo es para la descripción de tu negocio. ¿Que haces?. ¿cómo son tus productos? ... dispones de unos 700 caracteres para diferenciarte.</p>
                            </div>


                            <div class="d-flex flex-column  mt-bg-5 mt-3 mb-5 mx-3">
                                <h4>CONDICIONES</h4>

                            <div id="accordion">
                                <div class="card p-0 p-lg-2">
                                  <div class="d-flex flex-row">
                                    <div class="fa fa-plus mx-2"></div>
                                    <h5 class="mb-0" data-toggle="collapse" data-target="#collapsePayment" aria-expanded="true" aria-controls="collapseOne">
                                      Formas de pago
                                    </h5>
                                  </div>
                                    <div id="collapsePayment" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                        <p> Formas de pago</p>
                                    </div>
                                </div>

                                <div class="card p-0 p-lg-2">
                                  <div class="d-flex flex-row">
                                    <div class="fa fa-plus mx-2"></div>
                                    <h5 class="mb-0" data-toggle="collapse" data-target="#collapseShip" aria-expanded="true" aria-controls="collapseOne">
                                      Envío
                                    </h5>
                                  </div>
                                    <div id="collapseShip" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                        <p>Envío</p>
                                    </div>
                                </div>

                                <div class="card p-0 p-lg-2">
                                  <div class="d-flex flex-row">
                                    <div class="fa fa-plus mx-2"></div>
                                    <h5 class="mb-0" data-toggle="collapse" data-target="#collapseRefund" aria-expanded="true" aria-controls="collapseOne">
                                    Devoluciones y reembolso
                                    </h5>
                                  </div>
                                    <div id="collapseRefund" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                        <p>Devoluciones y reembolso</p>
                                    </div>
                                </div>

                                <div class="card p-0 p-lg-2">
                                  <div class="d-flex flex-row">
                                    <div class="fa fa-plus mx-2"></div>
                                    <h5 class="mb-0" data-toggle="collapse" data-target="#collapsePro" aria-expanded="true" aria-controls="collapseOne">
                                      Condiciones de venta para profesionales
                                    </h5>
                                  </div>
                                    <div id="collapsePro" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                        <p>Condiciones de venta para profesionales</p>
                                    </div>
                                </div>
                            </div>
                            </div>



                            <div class="mt-0 mt-bg-5 pt-1 pt-bg-5 mx-3">
                                <h4>CONTACTO</h4>
                                <div class="d-flex flex-row flex-wrap">
                                    <a><p class="mb-1">www.tuweb.com &nbsp;</p>
                                    </a>
                                    <p > &nbsp; | &nbsp; tumail@mail.com &nbsp;  </p>
                                    <div class="d-flex flex-row">
                                      <p class="mb-1" >Tu telefono: +34 000 000 000</p>
                                    </div>
                                </div>
                                <div class="d-flex flex-row flex-wrap">
                                    <p class="mb-1">La dirección física de tu tienda, showroom o almacén.</p>
                                </div>
                            </div>
                            <div class="d-flex flex-row flex-wrap mt-3 mb-5 mx-3">
                                        <p class="blue mx-2 mb-1">Etiquetas que te describen, como: #mobiliario #nordico #madeinspain #ecologico</p>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-row justify-content-center mt-md-5 mt-0 mb-5 social d-md-none w-100">
                        <a class="rss-icon px-2"><img src="assets/icons/web.png" alt="facebook"></a>
                        <a class="rss-icon px-2"><img src="assets/icons/facebook.png" alt="facebook"></a>
                        <a class="rss-icon px-2"><img src="assets/icons/instagram.png" size="10" alt="instagram"></a>
                        <a class="rss-icon px-2"><img src="assets/icons/pinterest.png" alt="pinterest"></a>
                    </div>
                </div>


            </div>
        </div>

    </panel>
</div>
