<div class="static-layout contact">
<div class="d-flex flex-column align-items-center mt-1 mt-md-5 mx-0 mx-md-5 px-4 px-md-5">
<h2 class="text-align-center">PROVEEDORES DE PRODUCTOS DE INTERIORISMO</h2>
<hr class="w-100">
<h3 class="mt-3 mt-md-0">INFORMACIÓN</h3>
<div class="main-image w-100 mt-2" [style.background-image]="'url(assets/images/info-provider.png)'">
</div>
<div class="px-0 px-md-5 d-flex flex-column align-items-center">
<h2 class="mt-3 mt-md-5 mx-5 mb-5 ">TU NUEVO CANAL DE PROMOCIÓN Y VENTA A PROFESIONALES</h2>

<p class="text-align-center mx-1 m-md-4 px-0 px-md-0"><b>¿Eres fabricante, distribuidor o diseñador de productos para interiorismo?</b>
 </p>

 <p class="text-align-center mx-1 m-md-4 px-0 px-md-0">Aumenta la visibilidad de tu marca y productos en un nuevo canal de promoción y venta
 dirigido exclusivamente a profesionales del diseño de espacios (interioristas, arquitectos, decoradores…).</p>

 <p class="text-align-center mx-1 m-md-4 px-0 px-md-0"><b>Regístrate gratis</b> y consigue tu <b>Espacio de Proveedor</b>. Así funciona:</p>
<div class="info-list mt-3">
<p><b> 1. Presenta tu marca/producto.</b></p>
<p>Logotipo, nombre, categoría, #etiquetas, país de origen.</p>
<p>Descripción de tu producto y propuesta de valor.</p>
<p>Formas de pago, envío, devoluciones y condiciones para profesionales.</p>
</div>

<div class="info-list mt-3">
<p><b> 2. Información de contacto.</b></p>
<p>Enlaces directos a tu web y perfiles en redes sociales.</p>
<p>Email, teléfono, dirección de tu tienda física, showroom o taller.</p>
</div>

<div class="info-list mt-3">
<p><b>3. Imágenes: </b></p>
<p>Tú elijes si promocionar un producto o colección, un evento o una gran noticia sobre tu marca.</p>
</div>

<p class=" mt-5 text-align-center">Tendrás acceso a modificar o ampliar toda la información de tu Espacio de Proveedor desde tu área
   privada cuando quieras, es decir, reorienta tu estrategia de venta o promoción cuando quieras cambiando
   las imágenes y enlaces.</p>






<div class="info-list">
    <p><b>Are you a supplier of interior design products based in another country? </b></p>
    <p><b> SUUTIL borns in Spain although It’s open to worldwide suppliers with shipping service to our country.</b></p>
      <p><b>Contact us for more information: hola@suutil.com</b></p>
</div>


<p class="mt-5"><b>Soy proveedor / I am Supplier</b></p>


<button class="mx-2 pointer px-3 p-2" (click)="openProviderSignupModal()">  <b>Registrarme</b></button>



</div>
</div>

</div>
